.textC {
  text-align: center;
}
.red {
  color: red;
}
.head {
  background: #12d5b5;
  border-color: transparent;
  margin-bottom: 0px;
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0px;
  left: 0px;
  font-size: 18px;
  line-height: 44px;
}
.head .text {
  color: #fff;
}
.head .navbar-right {
  float: right!important;
  margin-right: 0px;
  zoom: 1;
}
.head .navbar-right:after {
  content: "";
  display: inline-block;
  clear: both;
}
.head .container-fluid {
  padding-left: 7px;
  padding-right: 7px;
}
.head .custom {
  background: #feae11;
  color: #fff;
  border: transparent;
  padding-left: 20px;
  padding-right: 20px;
}
.head .navbar-left {
  float: left;
  font-size: 20px;
}
.instead {
  height: 50px;
}
