.textC {
  text-align: center;
}
.red {
  color: red;
}
.positionList {
  background: #fff;
  overflow: hidden;
}
.positionList .media-object {
  width: 65px;
  height: 65px;
}
.positionList .media-body {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.positionList .media-heading {
  font-size: 1.86666667rem;
  font-weight: 600;
}
.positionList .col-md-6 {
  border-bottom: 1px solid #d4d4d4;
}
.positionList p {
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.positionList .company {
  margin-bottom: 0px;
}
.positionList .date {
  margin-bottom: 0px;
}
.positionList .icon {
  display: inline-block;
  width: 43px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.positionList .star {
  background: url(../image/star.png);
}
.positionList .star-active {
  background: url(../image/star-active.png);
}
