.textC {
  text-align: center;
}
.red {
  color: red;
}
.positionClass {
  background: #fff;
}
.positionClass .row {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #d4d4d4;
}
.positionClass .row h5 {
  padding-left: 15px;
}
.positionClass .row.positionList {
  padding-top: 0px;
  padding-bottom: 0px;
}
.positionClass button {
  margin-left: 15px;
  background: #def8f5;
  outline: none;
  border: none;
  color: #000;
}
.positionClass button.active {
  background: #12d5b5;
  box-shadow: none;
  outline: none;
}
.positionClass button.active:hover {
  background: #12d5b5;
  color: #fff;
}
.positionClass button:focus {
  outline: none;
  border: none;
}
.positionClass button:hover {
  background: #def8f5;
  color: #000;
}
.positionClass ul {
  width: 100%;
  list-style: none;
  margin-bottom: 0px;
  font-size: 14px;
}
.positionClass ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.positionClass ul span {
  position: absolute;
  color: red;
  right: 15px;
  top: 4px;
}
