<div>
    <div class="container me">
        <div class="row">
            <img src="/image/head.png" alt="">
            <div class="name">我</div>
        </div>
        <div class="row">
            <div class="btn-wrap">
                <button class="btn btn-lg" ui-sref="post">投递</button>
                <button class="btn btn-lg" ui-sref="favorite">收藏</button>
                <button class="btn btn-block btn-danger">退出登录</button>
            </div>      
        </div>
    </div>
    <div app-foot="">
    </div>
</div>