.login {
  background: url(../image/background.png) no-repeat;
  background-size: cover;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
.login form {
  position: fixed;
  margin-top: 260px;
  width: 80%;
}
.login label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: right;
}
