.textC {
  text-align: center;
}
.red {
  color: red;
}
.companyInfo {
  background: #fff;
  overflow: hidden;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #d4d4d4;
}
.companyInfo .media-object {
  width: 65px;
  height: 65px;
}
.companyInfo .media-body {
  padding-left: 20px;
  width: 80%;
}
.companyInfo .media-title {
  font-size: 16px;
}
.companyInfo p {
  width: 100%;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}
.positionClass {
  background: #fff;
}
.positionClass .row {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #d4d4d4;
}
.positionClass .row h5 {
  padding-left: 15px;
}
.positionClass .row.positionList {
  padding-top: 0px;
  padding-bottom: 0px;
}
.positionClass button {
  margin-left: 15px;
  background: #def8f5;
  outline: none;
  border: none;
  color: #000;
}
.positionClass button.active {
  background: #12d5b5;
  box-shadow: none;
  outline: none;
}
.positionClass button.active:hover {
  background: #12d5b5;
  color: #fff;
}
.positionClass button:focus {
  outline: none;
  border: none;
}
.positionClass button:hover {
  background: #def8f5;
  color: #000;
}
.positionClass ul {
  width: 100%;
  list-style: none;
  margin-bottom: 0px;
  font-size: 14px;
}
.positionClass ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.positionClass ul span {
  position: absolute;
  color: red;
  right: 15px;
  top: 4px;
}
.bottom-btn {
  position: fixed;
  height: 50px;
  line-height: 50px;
  background: #12d5b5;
  bottom: 0px;
  width: 100%;
  border: none;
  left: 0px;
  outline: none;
  color: #fff;
  font-size: 20px;
}
.positionInfo {
  background: #fff;
  font-size: 14px;
  position: relative;
  padding-top: 18px;
  padding-bottom: 18px;
}
.positionInfo .row {
  padding-left: 10px;
  padding-right: 10px;
}
.positionInfo .row span,
.positionInfo .row b {
  margin-right: 10px;
}
.positionInfo .icon {
  display: inline-block;
  width: 43px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.positionInfo .star {
  background: url(../image/star.png);
}
.positionInfo .star-active {
  background: url(../image/star-active.png);
}
